export APIGEE_HOST=https://api.enterprise.apigee.com
export APIGEE_ORGANIZATION=johngrant-trial
export APIGEE_ENV=test
export APIGEE_USERNAME=johngrant@example.com
export APIGEE_PASSWORD=hbcvxkasdfytDFSJSsfkj
export BACKEND_HOST=httpbin.org
export BACKEND_PORT=80